<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/1eda045f-920e-4bc9-8c7d-25f1038fa4b2/resourcegroups/breakoutonline-app-2025072016233ResourceGroup/providers/Microsoft.ContainerRegistry/registries/BreakoutOnline20250720162934</ContainerResourceId>
    <ContainerResourceName>BreakoutOnline20250720162934</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>breakoutonline20250720162934.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>breakoutonline</ContainerName>
    <EnvironmentName>BreakoutOnline-env-20250720162330</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://breakoutonline-app-2025072016233.proudmushroom-23b299b8.brazilsouth.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1eda045f-920e-4bc9-8c7d-25f1038fa4b2/resourceGroups/breakoutonline-app-2025072016233ResourceGroup/providers/Microsoft.App/containerapps/breakoutonline-app-2025072016233</ResourceId>
    <ResourceGroup>breakoutonline-app-2025072016233ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>